body {
	background-color: #000066;
}

.spinner {
  margin-left: 175px;
}

.container {
	max-width: 900px;
}

/* Header */

.header h3 {
	font-size: 1.3em;
}

.footer p {
  text-align: center;
}

#outloud_logo {
	height: 30px;
	margin-left: 15px
}

/* Widget */

#widget_container {
	margin: 0 auto;
	max-width: 500px;
	padding: 30px;
	margin-top: 30px;
	margin-bottom: 30px;
}

#widget_wrapper {
	overflow: auto;
	width: 100%;
}

	/* Soundcloud */

	#soundcloud {
		margin: 0 auto;
		margin-bottom: 10px;
		height: 100px;
	}

	/* Quote */

	#footnote {
		width: 100%;
		min-height: 60px;
		margin: 0 auto;
/*		background: #888;
*/		font-size: 1.2em;
		line-height: 1.1em;
		text-align: center;
		margin-bottom: 8px;
	}

	/* Buttons, Links, Settings, Share*/

	#button_wrapper {
		overflow: auto;
	}

	#share_button {
		float: right;
	}

	/* Thumbnails */
	.story {
		padding: 4px 4px 4px 4px;
	}

/* Footer */
.footer {
  padding-top: 20px;
  color: #777;
}

/* Modals */
.modal-body {
	padding: 20px 0 0 0;
}
.modal-footer {
	margin-top: 0;
	font-size: 20px;
}
